@*<div class="top-row pl-4 navbar navbar-dark">
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>*@

<div class="logo"><a href="index.html" title="青鸟志"><img src="img/logo.svg" alt="logo"></a></div>

<nav id="menu">
    <ul class="mainmenu" id="mainmenu">
        <li class="liitem">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="iconfont icon-dashboard" aria-hidden="true"></i> 控制面版
            </NavLink>
        </li>

        <li class="liitem">
            <NavLink class="nav-link" href="counter">
                <i class="iconfont icon-plus" aria-hidden="true"></i> Counter
            </NavLink>
        </li>
        <li class="liitem">
            <NavLink class="nav-link" href="fetchdata">
                <i class="iconfont icon-list" aria-hidden="true"></i> Fetch data
            </NavLink>
        </li>
        <li class="liitem">
            <NavLink class="nav-link" href="customers">
                <i class="iconfont icon-customer" aria-hidden="true"></i> 客户
            </NavLink>
        </li>
        <li class="liitem">
            <NavLink class="nav-link" href="QNZFinder">
                <i class="iconfont icon-image" aria-hidden="true"></i> 文件管理
            </NavLink>
        </li>
    </ul>
    </nav>

    @code {
    
    }
