@inject IJSRuntime JSRuntime;

@*<div class="top-row pl-4 navbar navbar-dark">
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>*@

<div class="logo"><a href="index.html" title="青鸟志"><img src="img/logo.svg" alt="logo"></a></div>

<nav id="menu">
    <ul class="mainmenu" id="mainmenu">
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="iconfont icon-dashboard" aria-hidden="true"></i> 控制面版
            </NavLink>
        </li>
        <li class="down-nav">
            <a href="javascript:void(0);"><i class="iconfont icon-antdesign"></i> 项目 <i class="arrow iconfont icon-down"></i></a>
            <ul class="submenu">
                <li>
                    <NavLink class="nav-link" href="projects/index">
                        进行中
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="projects/archive">
                        已归档
                    </NavLink>
                </li>
            </ul>
        </li>

        <li>
            <NavLink class="nav-link" href="customers">
                <i class="iconfont icon-customer" aria-hidden="true"></i> 客户
            </NavLink>
        </li>
        <li class="down-nav">
            <a href="javascript:void(0);"><i class="iconfont icon-moneycollect"></i> 财务 <i class="arrow iconfont icon-down"></i></a>
            <ul class="submenu">
                <li>
                    <NavLink class="nav-link" href="finance/daybook">
                        流水帐
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="finance/business">
                        项目款
                    </NavLink>
                </li>
            </ul>
        </li>
      
    </ul>
</nav>

@code {
    

    protected override async System.Threading.Tasks.Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
               await JSRuntime.InvokeVoidAsync("App.SiteInit");
     
        }


    }

   
}
