@page "/"

@using QNZOA.TelerikUI.Data
@inject WeatherForecastService ForecastService

<h1>Hello, world!</h1>

<h2>Weather forecast in a Grid with data from a service</h2>

@if (forecasts.Count == 0)
{
    <p><em>Loading Data...</em></p>
}
else
{
    <TelerikGrid Data=@forecasts Height="550px" FilterMode="GridFilterMode.FilterMenu"
                 Sortable="true" Pageable="true" PageSize="20" Groupable="true">
        <GridColumns>
            <GridColumn Field="Date">
                <Template>
                    @((context as WeatherForecast).Date.ToString("dddd, dd MMM yyyy"))
                </Template>
            </GridColumn>
            <GridColumn Field="TemperatureC" Title="Temp. C" />
            <GridColumn Field="TemperatureF" Title="Temp. F" />
            <GridColumn Field="Summary" />
        </GridColumns>
    </TelerikGrid>
}

@code {
    List<WeatherForecast> forecasts { get; set; } = new List<WeatherForecast>();

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastListAsync(DateTime.Now);
    }
}
